html, body {
  height: 100%;
  margin: 0;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
}

footer {
  display: flex;
  bottom: 0;
  padding: 1rem;
}

.footer-link {
  color: #1f1235; /* Link color */
  text-decoration: none; /* Removes underline */
}
